<!DOCTYPE html>
<html lang="en">
<body>
    <p>A request has been submitted to subscribe to {{ blog_name }} for post updates</p>
    <p>To confirm your subscription, click here: <a href="{{ confirm_url }}">confirm your subscription</a></p>
    <p>If you do not wish to subscribe, you may ignore this email.</p>
</body>
</html>
