<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            text-align: center;
            font-family: Calibri, sans-serif;
            font-size: 16pt;
        }
    </style>
    <title></title>
</head>
<body>
    <p>A request has been submitted to subscribe to {{ blog_name }} for post updates</p>
    <p>To confirm your subscription, click here: <a href="{{ confirm_url }}">confirm your subscription</a></p>
    <p>If you do not wish to subscribe, you may ignore this email.</p>
</body>
</html>
