<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            text-align: center;
            font-family: Calibri, sans-serif;
            font-size: 16pt;
        }
    </style>
    <title></title>
</head>
<body>
    <p>Your unsubscribe request to {{ blog_name }} has successfully been processed. You will not receive any more
        updates from this website via {{ service_name }} rss email services.</p>
</body>
</html>
