<!DOCTYPE html>
<html lang="en">
<body>
    <p>Your unsubscribe request to {{ blog_name }} has successfully been processed. You will not receive any more
        updates from this website via crownana rss email services.</p>
</body>
</html>
