<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .unsub {
            font-size: 10pt;
        }
        .advert {
            font-size: 8pt;
        }
        .body-text {
            font-size: 16pt;
        }
        footer {
            color: gray;
        }
        body {
            text-align: center;
            font-family: Calibri, sans-serif;
        }
    </style>
    <title></title>
</head>
<body>
    <h1>A new post has been posted to {{ blog_name }}!</h1>
    <div class="body-text">
        {% for post in posts %}
            <a href="{{ post.link }}"><b>{{ post.title }}</b></a> posted on <b>{{ post.post_date.strftime('%b %d %Y') }}</b><br>
        {% endfor %}
    </div>
    <footer>
        <p class="unsub">
            This email was sent to you because you subscribed to {{ blog_name }} email updates. If you would no longer
            like these messages, you may <a href="{{ unsub_link }}">unsubscribe from updates</a> or
            <a href="{{ update_link }}">update how often you receive emails from this site</a>
        </p>
        <p class="advert">Email updates provided for {{ blog_name }} by crownana rss email services</p>
    </footer>
</body>
</html>
