*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Calibri, sans-serif;
    font-size: 16pt;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

.center-info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preferences {
    text-align: center;
    font-family: Calibri, sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preferences form {
    font-size: 18pt;
}

.preferences b {
    font-size: 20pt;
}

.error-text {
    background-color: lightcoral;
    border: red solid medium;
}
