<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup confirmation</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="center-info">
        <h1>Error!</h1>
        <p>Your signup confirmation has failed :(</p>
        <p>{{ error_explanation }}</p>
    </div>
</body>
</html>