<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup confirmation</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="center-info">
        <h1>Your subscription has been confirmed!</h1>
        <p>You will now receive post notifications at {{ email }} up to once every {{ period }} days!</p>
    </div>
</body>
</html>