<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Options update failure</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="center-info">
        <h1>Error!</h1>
        <p>An error has prevented you from accessing subscription options.</p>
        <p class="error-text">{{ error_explanation }}</p>
    </div>
</body>
</html>