<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Options update failure</title>
    <style>
        body {
            text-align: center;
            font-family: Calibri, sans-serif;
        }
        h1 {
            padding-top: 200px;
        }
    </style>
</head>
<body>
    <h1>Error!</h1>
    <p>An error has prevented you from accessing subscription options.</p>
    <p>{{ error_explanation }}</p>
</body>
</html>