<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prefernces updates!</title>
    <style>
        body {
            text-align: center;
            font-family: Calibri, sans-serif;
        }
        h1 {
            padding-top: 200px;
        }
    </style>
</head>
<body>
    <h1>You've successfully updated your email preferences!</h1>
    <p>You will now receive update emails at {{ email }} up to once every {{ interval }} days</p>
</body>
</html>