<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup confirmation</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="center-info">
        <h1>Signup confirmation has been sent!</h1>
        <p>A signup confirmation has been sent to your email at {{ email }}</p>
        <p>After signup, you will be notified every about new posts up to once every {{ period }} days</p>
    </div>
</body>
</html>