<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup failure</title>
    <style>
        body {
            text-align: center;
            font-family: Calibri, sans-serif;
        }
        h1 {
            padding-top: 200px;
        }
    </style>
</head>
<body>
    <h1>An error has occurred with the signup process</h1>
    <p>We were unable to sign you up for notifications due to an error</p>
    <p>{{ error_explanation }}</p>
</body>
</html>