<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unsubscribed</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="center-info">
        <h1>You've successfully unsubscribed from {{ feed_name }}</h1>
        <p>You will no longer receive notifications at {{ email }}</p>
    </div>
</body>
</html>